body{
font-family:'Public Sans' ,sans-serif ;



}

.header{
background: #FFFFFF;
display: flex;
justify-content: space-between;
padding: 45px;


}

.logo{
    display: flex;
    align-items: center;
}

.logo h1{
    font-weight: 800;
    font-size: 20px;
    margin-left: 5px;

}

.menu{
    display: flex;
    align-content: center;

    
}   

.menu li a{
    padding: 10px 5px;
    transition: 0.3ms ease-in-out;
    font-size: 15px;
    font-weight: 400;
    line-height: 17.63px ;
    margin-left: 20px;
    
}

.btn{
    background: #5BC241;
    border-radius: 10px;
    color: #FFFFFF;
    margin-left: 20px;
    padding: 10px 20px;


}

.menu li a:hover{
    background: #5BC241;
    color: #FFFFFF;
    border-radius: 5px;
    
}
 
